:root{
  --bs-font-sans-serif: "Nunito",sans-serif !important;
}
a {
  text-decoration: none !important;
}
.contentArea.fixedTopbar {
  background-color: #eef5f9;
}
.bg-info {
  background: #0d6efd !important;
}
span.required {
  color: red;
}
span.addline {
  color: blue;
}
.customizerSidebar {
  width: $sidebarWidth;
  background-color: $white;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  transition: 0.2s ease-in;
  margin-right: -$sidebarWidth;
  &.showCustomizer {
    margin-right: 0;
  }
}
.custombtn {
  margin-left: -58px;
  position: fixed;
  top: 50%;
  border-radius: 5px 0 0 5px;
}
// New CSS
input[type="text"], select {
  width: 100%;
}
.rdt_.lineitemBody svg, .rdt_.lineitemHeadRow svg{
  width: 18px;
}
.rdt_.lineitemHeadRow {
  font-size: 15px;
  font-weight: bold;
}
.data-.lineitem-extensions {
    background: #fff;
}
.data-.lineitem-extensions > .data-.lineitem-extensions-filter {
  display: flex;
}
.requi#0d6efd{
  color: #dc3545 !important;
}

body{
  margin-top:20px;
  color: #484b51;
}
.text-secondary-d1 {
  color: #728299!important;
}
.page-header {
  margin: 0 0 1rem;
  padding-bottom: 1rem;
  padding-top: .5rem;
  border-bottom: 1px dotted #e2e2e2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
.page-title {
  padding: 0;
  margin: 0;
  font-size: 1.75rem;
  font-weight: 300;
}
.brc-default-l1 {
  border-color: #dce9f0!important;
}

.ml-n1, .mx-n1 {
  margin-left: -.25rem!important;
}
.mr-n1, .mx-n1 {
  margin-right: -.25rem!important;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.text-grey-m2 {
  color: #000 !important;
}

.text-success-m2 {
  color: #86bd68!important;
}

.font-bolder, .text-600 {
  font-weight: 600!important;
}

.text-110 {
  font-size: 110%!important;
}
.text-blue {
  color: #478fcc!important;
}
.pb-25, .py-25 {
  padding-bottom: .75rem!important;
}

.pt-25, .py-25 {
  padding-top: .75rem!important;
}
.bgc-default-tp1 {
  background-color: rgba(121,169,197,.92)!important;
}
.bgc-default-l4, .bgc-h-default-l4:hover {
  background-color: #f3f8fa!important;
}
.page-header .page-tools {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.btn-light {
  color: #757984;
  background-color: #f5f6f9;
  border-color: #dddfe4;
}
.w-2 {
  width: 1rem;
}

.text-120 {
  font-size: 120%!important;
}
.text-primary-m1 {
  color: #4087d4!important;
}

.text-danger-m1 {
  color: #dd4949!important;
}
.text-blue-m2 {
  color: #68a3d5!important;
}
.text-150 {
  font-size: 150%!important;
}
.text-60 {
  font-size: 60%!important;
}
.text-grey-m1 {
  color: #7b7d81!important;
}
.align-bottom {
  vertical-align: bottom!important;
}
.row {
  align-items: center;
}

@media (max-width: 576px){
  .row .col-md-2.addNew {
    margin-top: 20px;
  }
  .addNew .form-label {
    padding-right: 20px;
}

}


// .lineitem

.lineitem {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.lineitem caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.lineitem tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

.lineitem th,
.lineitem td {
  padding: .625em;
  text-align: center;
}

.lineitem th {
  font-size: .85em;
  letter-spacing: .1em;
}
.modal-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bold {
  font-weight: 700 !important;
}
button.btn.btn-default.btn-xs.btn-filter {
  display: none !important;
}
@media screen and (max-width: 600px) {
  .lineitem {
    border: 0;
  }

  .lineitem caption {
    font-size: 1.3em;
  }
  
  .lineitem thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .lineitem tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .lineitem td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  .lineitem td::before {

    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .lineitem td:last-child {
    border-bottom: 0;
  }
  .fixedTopbar.contentArea {
    padding-top: 120px !important;
  }
  .xs-margin.visible-xs {
    margin-bottom: 15px;
  }
  .xs-fullWidth.col {
    flex: unset;
}
//nav.topbar.navbar.navbar-expand-lg.navbar-dark.bg-primary {
  // background: transparent !important;
//}
}
.card .card-title.profile_detail {
  margin-left: 10px;
}
table.dataTable {
  border-top: 1px solid #dee2e6;
}
div#example_filter {
  margin-bottom: 20px;
}
.title_border.row {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  margin-bottom: 15px !important;
}
.dt-buttons {
  width: 25% !important;
  float: left;
}
// pagination

.navigationButtons {
  width: 80%;
  height: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 15px;
}
 
.navigationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #0d6efd;
  color: #0d6efd;
  cursor: pointer;
}
 
.navigationButtons a:hover {
  color: white;
  background-color: #0d6efd;
}
 
.navigationActive a {
  color: #fff !important;
  background-color: #0d6efd;
}
.bg-info {
  background: #3699ff !important;
}
.navigationDisabled a {
  // color: grey;
  // background-color: grey;
  display: none;
}
.saturday{
  background-color: #fed8b1;
}
.sunday{
  background-color: #90ee90;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  cursor: pointer;
}
a.active.nav-link, a.nav-link:focus-visible  {
  background: #2962ff !important;
  color: #fff !important;
}
.anchor u, .anchor span {
  cursor: pointer;
  color: #2962ff;
}
.custom-modal-style {
  width: 1380px !important;
    transform: translateX(-10% ) !important;
  }

.autocomplete-container {
  position: relative;
}

.autocomplete-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.autocomplete-suggestions {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0;
  list-style: none;
}

.autocomplete-suggestions li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-suggestions option {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-suggestions li:hover {
  background-color: #f2f2f2;
}
.autocomplete-suggestions option:hover {
  background-color: #f2f2f2;
}
.progress {
  height: 20px !important;
  }
  li.hide-mini.activeLink.nav-item {
    color: #0d6efd !important;
  }

  input.form-control.highlight {
    border: 1px solid red;
  }
  
  input.form-control {
    /* Your default styles for form-control class */
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .error-message {
    color: red;
    margin-top: 5px; /* Add margin for spacing */
    font-size: 12px; /* Adjust font size if needed */
  }